# Ignore node_modules directory
node_modules/

# Ignore .env files (contains sensitive information)
.env

# Ignore any files or directories generated during development or build process
dist/
coverage/
*.log
*.pid

# Ignore any editor or IDE specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
